.sidebarHeader {
    /*height: 50px;*/
    padding: 5px 0 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    position: relative;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.userName {
    flex-grow: 1;
    padding-left: 10px;
}
.logoutIcon {
    padding: 0 10px;
}

.logoutIcon:hover {
    color: var(--gray-dark);
}
