.sidebarHeader {
    /*height: 50px;*/
    padding: 5px 0 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebarHeader > img {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.userName {
    flex-grow: 1;
}
.logoutIcon {
    padding: 0 10px;
}

.logoutIcon:hover {
    color: var(--gray-dark);
}
