.sidebar {
    min-width: 300px;
    width: 30%;
    border-right: 1px solid lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fafafa;
}

.sidebarHeader {
    /*height: 50px;*/
    padding: 5px 0 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebarHeader > img{
    width: 20%;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.userName {
    flex-grow: 1;
}
.logoutIcon{
    padding: 0 10px;
}

.logoutIcon:hover{
    color: var(--gray-dark);
}

.sidebarSearch {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.sidebarForm {
    width: 95%;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.sidebarForm > input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 6px;
    margin-bottom: 2px;
    width: 80%;
}

.invalid {
    color: red;
    padding: 0 0 0 20px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.user:hover {
    background-color: lightgrey;
}

.startChat {
    background-color: #128c7e;
    color: white;
    border: none;
    font-weight: bold;
    transition: all 0.2s;
    font-size: 12px;
}

.startChat:hover {
    background-color: white;
    color: #128c7e;
}

.sidebarChatList {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
