* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}
:root {
    --black: #3b434e;
    --gray-light: #ebebeb;
    --gray-dark: #6c7077;
    --gray: #a4a4a4;
    --white: white;
    --red: #fc836d;
    --red-light: #fea291;
    --green: #008069;
    --green-light: #00a884;
    --green-hover: #43c0a5;
    --grey-layout: #d7dbd6;
    --font-family: 'Noto Sans', sans-serif;

}
