* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}
:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --gray-dark: #6C7077;
    --gray: #A4A4A4;
    --white: white;
    --red: #FC836D;
    --red-light: #FEA291;
    --green: #008069;
    --green-light: #00a884;
    --font-family: 'Noto Sans', sans-serif;
}